transformers 
pillow 
bs4
langchain
langchain-core
langchain-community
langchain_huggingface
langchain_qdrant
langchain_ollama
torch
tqdm
qdrant-client
requests
sentence-transformers
streamlit
tiktoken
